.card {
	margin: 2rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
	display: flex;
	justify-content: center;
}
.form {
	display:flex;
	flex: 1;
	flex-direction: column;
	padding: 0 30px;
}

.form label,
.form input {
	margin: 5px;
}
.form label {
	font-weight: 700;
}

.form input {
	margin: 5px;
	height: 30px;
	border: 1px solid rgb(178, 176, 176);
	outline: none;
	padding: 0 10px;
	font-size: 14px;
}

.input { 
	width: 100%;
	height: 30px;
}

.submit { 
 	margin: 10px 0 0 0;
}
